@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  font-family: var(--font-sans, system-ui);
  background-color: rgb(17 24 39);
  color: rgb(249 250 251);
}

html[data-theme='light'] body {
  background-color: rgb(249 250 251);
  color: rgb(17 24 39);
}
